/* メインビジュアル */
.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* ロゴ */
.logo {
  position: absolute;
  top: 30px;
  left: 5%;
  z-index: 10;
}

/* 背景メディアコンテナ（共通） */
.backgroundMediaContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

/* 背景動画 */
.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* 背景画像コンテナ（SP用） */
.backgroundImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

/* 背景画像（SP用） */
.backgroundImage {
  object-fit: cover;
}

/* 中央テキスト */
.textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.verticalText {
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #ffffff;
  background: #343434;
  opacity: 0.9;
  padding: 20px 15px;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
}

.leftText {
  height: 325px;
}

.rightText {
  height: 212px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logo {
    width: 315px;
    top: 20px;
    left: 4%;
  }

  /* 中央テキスト */
  .textContainer {
    gap: 20px;
  }

  .verticalText {
    padding: 15px 10px;
    font-size: 40px;
  }
  
  .leftText {
    height: 310px;
  }
  
  .rightText {
    height: 200px;
  }
}

@media screen and (max-width: 767px) {
  /* 中央テキスト */
  .textContainer {
    gap: 20px;
  }

  .verticalText {
    padding: 15px 10px;
    font-size: 24px;
  }
  
  .leftText {
    height: 200px;
  }
  
  .rightText {
    height: 140px;
  }
}