.container {
  width: 100vw;
  height: 222px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bg {
  background-image: url('/images/footer-bg.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: #FFF;
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .container {
    height: 150px;
  }

  .text {
    font-size: 14px;
    padding: 0 20px;
    text-align: center;
  }
}
