.container {
  width: 100vw;
  height: 953px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bg {
  background-image: url('/images/vision-bg.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.textArea {
  text-align: center;
  padding-top: 50px;
}

.title {
  font-family: Times New Roman;
  font-weight: 400;
  font-size: 79px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.subTitle {
  font-family: Noto Serif JP;
  font-weight: 400;
  font-size: 54px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 50px;
}

.subTitle span {
  font-family: Noto Serif JP;
  font-weight: 400;
  font-size: 43px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}

.descContainer {
  margin-top: 100px;
}

.desc {
  font-family: Noto Serif JP;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 1%;
  text-align: center;
  margin-bottom: 30px;
}